div{
    width:700px; 
    height:600px; 
    border:3px solid white; 
    margin:auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.button1{
    width: 200px;
    height: 90px;
    color:black;
    background:darkslateblue;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:980px;
    top:480px;
    font-size: 40;
    font-family:'Times New Roman', Times, serif
    
}

.button2{
    width: 200px;
    height: 90px;
    color: black;
    background:darkslateblue;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:1380px;
    top:480px;
    font-size: 40;
    font-family:'Times New Roman', Times, serif

}    
body{
    background-color:wheat;
    text-align: center;
}
